body{
    height: 100%;
    /* The image used */
    background-image: url("Image/Background2.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .content{
    width: 100%;
    min-height: 82.5vh;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .main{
    margin-top: 80px;
    border:1px solid white;
    color: white;
    padding: 50px;
  }

  .main fieldset{
    padding-bottom:5px;
  }

  .main feildset legend{
    text-decoration: none;
  }

  .main fieldset h3{
    font-family: "Forte";
    margin-bottom:25px;
    margin-left:60px;
  }

  .main fieldset img{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .main fieldset input{
    color: black;
    margin: 5px;
    
  }

  .main fieldset button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
  }

  .setbutton a{
    margin-left: 180px;
    border-radius:8px;
    margin-top: 10px;
  }

  .setbutton a:link, a:visited {
    background-color: #f44336;
    color:black;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .setbutton a:hover, a:active {
    background-color: red;
  }





 
  
